<!DOCTYPE html>
<html>
<head>
  <title>Car List</title>
</head>
<body>
  <h1>Car List</h1>
  <ul>
    <% cars.forEach(car => { %>
      <li><%= car.name %> - <%= car.manufacturingYear %> - $<%= car.price %></li>
    <% }); %>
  </ul>
</body>
</html>
